* {
  color: white;
}

.connect {
  position: absolute;
  top: 245%;
  padding-left: 1%;
  width: 98vw;
  height: 38vh;
  display: flex;
  flex-direction: column-reverse;
  font-size: 200px;
  font-weight: 100;
  background-color: transparent;
}

.connect-box {
  position: absolute;
  right: 20%;
  top: 220%;
  width: 98vw;
  height: 27vw;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;
}

over-connect {
  position: absolute;
  top: 300%;
  left: 1%;
}
