* {
  background-color: black;
  /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  font-family: PP, helvetica, arial, sans-serif;
}

.text-colour {
  background-color: transparent;
}

.fullscreen-box {
  width: 98.8vw;
  height: 98.8vh; /* 100% of the viewport height */
  background-color: rgb(22, 21, 21); /* Set your desired background color */
  border-bottom-left-radius: 20px; /* Adjust the radius for rounded corners */
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text-name {
  background-color: rgb(22, 21, 21);
  color: white;
  font-size: 20px;
  position: absolute;
  top: 6%;
  left: 5%;
}

.text-navbar {
  font-size: 20px;
}

.About {
  position: absolute;
  background-color: rgb(22, 21, 21);
  top: 6%;
  right: 6%;
  text-decoration: none;
  color: white;
}

.Projects {
  position: absolute;
  background-color: rgb(22, 21, 21);
  top: 6%;
  right: 18%;
  text-decoration: none;
  color: white;
}

.Contact {
  position: absolute;
  background-color: rgb(22, 21, 21);
  top: 6%;
  right: 12%;
  text-decoration: none;
  color: white;
}

.text-intro {
  width: 50%;
  background-color:transparent;
  padding: 4%;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 10%;
  
}

.circle1 {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  top: 24%;
  left: 60%;
  background:  rgb(129, 81, 240) ;
    filter: blur( 200px );
}

.circle2 {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 20%;
    background:  rgb(105, 96, 235) ;
    filter: blur(200px );
}

.move{
    animation: scale-up-center 1.5s cubic-bezier(1, 1, 1, 1) infinite both;
}

@keyframes scale-up-center {
  0% {
    transform: translate3d(0, 10, 0);
  }
  100% {
    transform: scale(1);
  }
}


 
